@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
  
  --color-card: #151515;
  --color-card-hover: #1f1f1f;
  
  --color-primary: #dc2626; /* red-600 */
  --color-primary-hover: #b91c1c; /* red-700 */
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
